/*Variabler*/
$font-stack: Verdana, Geneva, Tahoma, sans-serif;

/*"mixins"*/
@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0 auto;

    .container {
        width: 100%;
        font-family: $font-stack;
    }
}

header {
    @include flex-center();
}

main {
    @include flex-center();

    section {
        width: 75%;
        @include flex-center();
        flex-direction: column;
    }

    p {
        text-align: center;
        font-size: large;
    }

    .search-box {
        margin: 20px;
    }

    input {
        width: 200px;
        height: 30px;
    }

    button {
        width: 60px;
        height: 30px;
    }

    iframe {
        width: 50%;
        height: 500px;
    }

    #weather {
        font-size: large;
    }

    .hidden {
        display: none;
    }

    img {
        padding-left: 100px;
        padding-left: 100px;
    }
}

footer {
    @include flex-center();
    gap: 50px;
    font-weight: 800;
}