@use "sass:color";

/*Variabler för ljust tema*/
$headerfooter-color: #81a6c6;
$background-color: #f3e3d0;
$button-color: #d9d9d9;
$button-hover-color: color.scale($button-color, $lightness: 50%);
$button-active-color: color.scale($button-color, $lightness: -20%);
$font-color: #000000;
$white: #ffff;

/*Variabler för mörkt tema*/
$headerfooter-color-dark: #184368;
$background-color-dark: #524e49;
$button-color-dark: #000000;
$button-hover-color-dark: color.scale($button-color-dark, $lightness: 50%);
$button-active-color-dark: color.scale($button-color-dark, $lightness: -20%);
$font-color-dark: #c5c3c3;

header {
    background-color: $headerfooter-color;
}

main {
    background-color: $background-color;

    button {
        background-color: $button-color;
    }

    button:hover {
        background-color: $button-hover-color;
    }

    button:active {
        background-color: $button-active-color;
    }
}

footer {
    background-color: $headerfooter-color;
}

/*Mediaquery för mörkt tema*/
@media (prefers-color-scheme: dark) {

    header {
        background-color: $headerfooter-color-dark;
        color: $font-color-dark;

    }

    main {
        background-color: $background-color-dark;
        color: $font-color-dark;

        button {
            background-color: $button-color-dark;
            color: $font-color-dark;
        }

        button:hover {
            background-color: $button-hover-color-dark;
        }

        button:active {
            background-color: $button-active-color-dark;
        }
    }

    footer {
        background-color: $headerfooter-color-dark;
        color: $font-color-dark;
    }
}